<div id="header" class="navbar-toggleable-md sticky header-md clearfix">
    <!-- TOP NAV -->
    <header id="topNav">
        <div class="container">

            <!-- Mobile Menu Button -->
            <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Logo -->
            <a class="logo float-left scrollTo" href="#top">
                <img src="r_assets/R3.png" alt="" />
            </a>

            <!-- 
                Top Nav 
                
                AVAILABLE CLASSES:
                submenu-dark = dark sub menu
            -->
            <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
                <nav class="nav-main">

                    <!-- 
                        .nav-onepage
                        Required for onepage navigation links
                        
                        Add .external for an external link!
                    -->
                    <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                        <li class="active"><!-- HOME -->
                            <a id="home-nav" class="scrollTo" href="#top">
                                HOME
                            </a>
                        </li>
                        <li><!-- SERVICES -->
                            <a id="services-nav" href="#services">
                                SERVICES
                            </a>
                        </li>
                        <li><!-- PORTFOLIO -->
                            <a id="portfolio-nav" href="#portfolio">
                                PORTFOLIO
                            </a>
                        </li>
                        <li><!-- NEWS -->
                            <a id="news-nav" href="#news">
                                NEWS
                            </a>
                        </li>
                        <li><!-- CLIENTS -->
                            <a id="clients-nav" href="#clients">
                                CLIENTS
                            </a>
                        </li>
                        <!-- <li><!-- BLOG -->
                            <!-- <a class="external" href="blog-default-aside-left.html"> -->
                                <!-- BLOG -->
                            <!-- </a> -->
                        <!-- </li> -->
                        <li><!-- CONTACT -->
                            <a id="contact-nav" href="#contact">
                                CONTACT
                            </a>
                        </li>
                        <li><!-- CONTACT -->
                            <%= link_to 'LOGIN', home_backOffice_path %>
                        </li>
                    </ul>

                </nav>
            </div>

        </div>
    </header>
    <!-- /Top Nav -->
</div>