<!-- REVOLUTION SLIDER -->
<div class="jumbotron" style="margin: 0 0;padding: 7rem 4rem 2rem;">
  <h2 class="display-4">Reaching for the Stars since 1976</h2>
  <hr class="my-4">
</div>
<!-- /REVOLUTION SLIDER -->
<!-- Parallax -->
<section class="parallax parallax-1" style="background-image: url('r_assets/M.jpg');">
	<div class="overlay dark-3">
		<!-- dark overlay [1 to 9 opacity] -->
	</div>
	<div class="container">
		<div class="text-center">
			<h2 class="fs-40 fw-300">Reaching for the Stars since 1976</h2>
			<%= link_to 'GET A QUOTE', new_quote_path, class:'btn btn-default btn-lg' %> &nbsp; OR &nbsp; <a class="btn btn-primary btn-lg" href="#contact">CONTACT US</a> </div>
	</div>
</section>
<!-- /Parallax -->
<!-- CONTACT -->
<section id="contact">
	<div class="container">
		<header class="text-center mb-60">
			<h2>Contact Us</h2>
			<p class="lead font-lato">Any unwarranted contact will result in legal action.</p>
			<hr /> </header>
		<div class="row">
			<!-- FORM -->
			<div class="col-md-8 col-sm-8">
				<h3>Wanna let us in on the <strong><em>goods? </em></strong></h3>
				<!-- Alert Success -->
				<div id="alert_success" class="alert alert-success mb-30">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> <strong>Thank You!</strong> Your message successfully sent! </div>
				<!-- /Alert Success -->
				<!-- Alert Failed -->
				<div id="alert_failed" class="alert alert-danger mb-30">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> <strong>[SMTP] Error!</strong> Internal server error! </div>
				<!-- /Alert Failed -->
				<!-- Alert Mandatory -->
				<div id="alert_mandatory" class="alert alert-danger mb-30">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> <strong>Sorry!</strong> You need to complete all mandatory (*) fields! </div>
				<!-- /Alert Mandatory -->
				<form action="php/contact.php" method="post" enctype="multipart/form-data">
					<fieldset>
						<input type="hidden" name="action" value="contact_send" />
						<div class="row">
							<div class="col-md-4">
								<label for="contact:name">Full Name *</label>
								<input required type="text" value="" class="form-control" name="contact[name][required]" id="contact:name"> </div>
							<div class="col-md-4">
								<label for="contact:email">E-mail Address *</label>
								<input required type="email" value="" class="form-control" name="contact[email][required]" id="contact:email"> </div>
							<div class="col-md-4">
								<label for="contact:phone">Phone</label>
								<input type="text" value="" class="form-control" name="contact[phone]" id="contact:phone"> </div>
							<div class="col-md-4">
								<label for="contact:company_name">Business Name</label>
								<input type="text" value="" class="form-control" name="contact[company_name]" id="contact:company_name"> </div>
							<div class="col-md-4">
								<label for="contact:project_name">Project Name *</label>
								<input type="text" value="" class="form-control" name="contact[project_name][required]" id="contact:project_name"> </div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<label for="contact:project_description">Project Description *</label>
								<input required type="text" value="" class="form-control" name="contact[project_description][required]" id="contact:project_description"> </div>
							<div class="col-md-4">
								<label for="contact:department">Department *</label>
								<select class="form-control pointer" name="contact[department][required]" id="contact:department">
									<option value="">--- Select ---</option>
									<option value="Support">Support</option>
									<option value="Residential">Residential</option>
									<option value="Corporate">Corporate</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<label for="contact:message">Message *</label>
								<textarea required maxlength="10000" rows="8" class="form-control" name="contact[message][required]" id="contact:message"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<label for="contact:attachment">File Attachment</label>
								<!-- custom file upload -->
								<input class="custom-file-upload" type="file" id="file" name="contact[attachment]" id="contact:attachment" data-btn-text="Select a File" /> <small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small> </div>
						</div>
					</fieldset>
					<div class="row">
						<div class="col-md-12">
							<button type="submit" class="btn btn-primary">SEND MESSAGE</button>
						</div>
					</div>
				</form>
			</div>
			<!-- /FORM -->
			<!-- INFO -->
			<div class="col-md-4 col-sm-4">
				<h2>Visit Us</h2>
				<div id="map2" class="h-400"></div>
				<hr />
				<p> <span class="block"><strong>Address:</strong> 4468 Wellington St Suite 204, Verdun, Quebec H4G 1W5</span> <span class="block"><strong>Phone:</strong> <a href="tel:(418) 555-1234">(418) 555-1234</a></span> <span class="block"><strong>Email:</strong> <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></span> </p>
			</div>
			<!-- /INFO -->
		</div>
	</div>
</section>
<!-- /CONTACT -->