<div class="container">
  <br>
  <br>
  <br>
  <br>
  <h1>Editing Intervention</h1>
</div>

<%= render 'form', intervention: @intervention %>

<div class="container">
  <%= link_to 'Show', @intervention, {:class => "btn btn-secondary", :style=>'color:#FFFFFF;'} %> |
  <%= link_to 'Back', interventions_path, {:class => "btn btn-secondary", :style=>'color:#FFFFFF;'} %>
  <br>
  <br>
</div>
